@import "../../common/style/config";

.introduction {

  .el-row {
    height: calc(100% - 8vh);
  }

  .images-content {
    height: 100%;
    position: relative;

    .self-image {
      left: 5vw;
      position: absolute;
      top: 10vh;
      width: 24vw;
    }

    .sns-image {
      bottom: -5vh;
      position: absolute;
      right: -5vw;
      width: 14vw;
    }
  }

  .text-content {
    box-sizing: border-box;
    height: 100%;
    padding-top: 5vh;
    text-align: left;

    .text-area {
      margin-top: 20px;

      .tag {
        border-bottom: 5px solid $vue-light-color;
        border-left: 15px solid $vue-light-color;
        font-size: 3rem;
        font-weight: bold;
        padding-left: 2rem;
        width: 80%;
      }

      .text {
        font-size: 3.5rem;
        padding-left: 4rem;
      }
    }

    ul {
      list-style: none;
      margin: 0;
    }
  }
}
