@import "../../common/style/config";

.page-title {
  border-left: 15px solid $vue-light-color;
  font-size: 3rem;
  font-weight: bold;
  line-height: 8vh;
  padding-left: 2rem;
  text-align: left;
}
