.danmaku-text {
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  -o-transition: all 5s linear;
  -ms-transition: all 5s linear;
  font-size: 2.5rem;
  position: absolute;
  transition: all 5s linear;
  right: -50%;
  top: 20vh;

  &.move {
    right: 100%;
  }
}
